.Favorites-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-color); /* Use theme variable for background color */
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--box-shadow); /* Use theme variable for box shadow */
  text-align: left;
  color: var(--text-color); /* Use theme variable for text color */
}

.Favorites-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-color); /* Use theme variable for text color */
}

.Favorite-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid var(--border-color); /* Use theme variable for border color */
}

.Favorite-details {
  display: flex;
  align-items: center;
}

.Favorite-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.Remove-button {
  background-color: #ff6666;
  color: var(--text-color-dark); /* Use theme variable for text color */
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Remove-button:hover {
  background-color: #e60000;
}
