.SearchBar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-light);
  }
  
  .SearchBar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%; /* Adjusted for smaller width */
  }
  
  .SearchBar-sort-options ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .SearchBar-sort-options li {
    margin-right: 15px;
    cursor: pointer;
  }
  
  .SearchBar-sort-options .active {
    font-weight: bold;
    border-bottom: 2px solid var(--accent-color);
  }
  
  .SearchBar-fields {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px 0;
  }
  
  .SearchBar-fields input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .SearchBar-submit button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .SearchBar-submit button:hover {
    background-color: #005bb5;
  }
  
  .SearchBar-login {
    margin-top: 20px;
  }
  
  .logout-button, .login-button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .logout-button:hover, .login-button:hover {
    background-color: #005bb5;
  }
  