.App {
  font-family: Arial, sans-serif;
  color: var(--text-color); /* Use theme variable for text color */
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  z-index: 1000;
}

.App-logo {
  height: 60px;
  cursor: pointer;
}

.App-name {
  font-size: 24px;
  font-weight: bold;
  margin: auto;
  text-align: center;
  padding-right: 5%;
  color: var(--text-color);
}

@media (max-width: 600px) {
  .App-name {
    display: none;
  }
}

.ThemeToggle {
  margin-left: auto;
}

body {
  padding-top: 80px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.Homepage {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.Homepage-carousel-item {
  position: relative;
}

.Homepage-carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.Homepage-carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 8px;
}

.Homepage-carousel-caption h2 {
  margin: 0;
  font-size: 24px;
}

.Homepage-carousel-caption p {
  margin: 5px 0 0;
  font-size: 16px;
}
